<div
  class="container d-flex d-sm-flex d-md-flex d-lg-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center align-items-xl-start"
  style="height: 100%;z-index:2">
  <div style="padding: 15px 20px;border-radius: 5px;">
    <h1
      class="text-center d-flex d-sm-flex d-lg-flex justify-content-start align-items-start align-self-center justify-content-sm-center align-items-sm-center justify-content-lg-start align-items-lg-center"
      style="color: #333;padding: 0px;padding-top: 0;padding-left: 0;text-shadow: 0px 0px 4px #FFF;"><img src="assets/img/food.png"
        style="width: 49px;margin-right: 10px;">videosalas</h1>
    <div class="align-self-center">
      <div
        class="text-center border rounded d-flex d-xl-flex flex-column justify-content-center align-self-start justify-content-xl-center align-items-xl-center tada animated"
        style="height:130px;width: 300px;padding: 0px;background-color: #ffffff;box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.5);">
        <div class="justify-content-center align-items-center" style="padding-right: 8px;padding-left: 8px;">
          <div class="input-group">
            <div class="input-group-prepend"></div><input [(ngModel)]="token" class="border rounded form-control form-control-sm" type="text"
              placeholder="token" style="padding-left: 8px;">
            <div class="input-group-append">
              <button [disabled]="!token.length" [routerLink]="'/room/' + token" class="btn btn-primary btn-sm" type="button">Entrar</button>
            </div>
          </div>
          <!-- a (click)="createRoom()"
            class="text-right d-flex d-lg-flex d-xl-flex justify-content-end justify-content-lg-end justify-content-xl-end"
            style="color: #333; cursor: pointer">Crear nueva sala</a>
        </div -->  
          <div style="margin-top: 20px;">
            <button (click)="createRoom()" class="btn btn-primary btn-sm" type="button">Crear nueva sala</button>
          </div>
      </div>
    </div>
  </div>
</div>