<div
  class="d-flex d-sm-flex d-lg-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-lg-center align-items-lg-center"
  style="width: 100%;height: 100%;">
  <h1 class="text-center d-sm-flex justify-content-sm-center">Abandonaste la reunión</h1>
  <div class="btn-group btn-group-sm" role="group">
    <button class="btn btn-success" type="button" (click)="reload()">Volver a unirse</button>
    <button class="btn btn-link" type="button" [routerLink]='"/landing"'>Volver a la pantalla principal</button></div>
</div>